
<table>
	<thead>
		<tr>
			<th>id</th>
			<th>title</th>
			<th>active</th>
			<th>thumbnail</th>
			<th>picture</th>
			<th>year</th>
			<th>author</th>
			<th>synopsis</th>
			<th>registered</th>
			<th>tags</th>
		</tr>
	</thead>
	<tbody>
		<td>{{film._id}}</td>
		<td>{{film.title}}</td>
		<td>{{film.active}}</td>
		<td>{{film.thumbnail}}</td>
		<td>{{film.picture}}</td>
		<td>{{film.year}}</td>
		<td>{{film.author}}</td>
		<td>{{film.synopsis}}</td>
		<td>{{film.registered}}</td>
		<td>{{film.tags}}</td>
		<td></td>
	</tbody>
</table>